@{
    ViewData["Title"] = "Date Me";
}

<div>
    <p>Today is your lucky day. You may have stumbled on an opportunity to date this awesomeness:</p>
    <br />
    <img src="~/Perry, Josh.jpg" width="500" />
</div>

<a asp-action="DatingApplication">Click here to Date Me!</a>
