@{
ViewBag.Title = "Welcome To the Show";
}

<div class="text-center"><h4>This site shows the Top 100 Bands of All-Time</h4></div>
<div class="text-center">
    <img src="~/img/band.jpg" width="500" class="rounded" /><br /><br /><br />
    <a class="btn btn-primary" asp-action="BandList">View the list</a>
</div>

