@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Name = "Josh Perry";
}



<body>
   

    <img src="~/img/IMG-0122.jpeg" alt="Josh by sign of Capital Reef" width="350px" />

    <h3 class="headerColor">What I hope to get out of 413</h3>

    <p>
        I hope to be able to understand the inner workings of ASP.NET. I would also like to gain more confidence in my coding abilities and my capability to
        understand different coding languages. And I of course want to have fun doing it.
    </p>

    <h3 class="headerColor">Top 3 Jobs after graduation</h3>

    <ul>
        <li>Information Systems Manager</li>
        <li>Database Administrator</li>
        <li>Consultant</li>
    </ul>

    
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/js/grades.js"></script>
</body>

